/*
 * Remove template code below
 */
:host {
  // display: block;
  font-family: sans-serif;
  // min-width: 300px;
  // max-width: 1000px;
  // margin: 50px auto;
}

header {
  background-color: #006ac3;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
}

main {
  padding: 0 36px;
}

table {
  border-collapse: collapse;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
tr:nth-child(even) {
  background-color: #006ac31a;
}

thead {
  td {
    border-bottom: solid thin #f2f2f2;
  }
}
td {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.active {
  color: #006ac3;
  .icon {
    filter: invert(24%) sepia(46%) saturate(4418%) hue-rotate(193deg) brightness(96%) contrast(101%);
  }
}
