/*
 * Remove template code below
 */
:host {
  // display: block;
  font-family: sans-serif;
  // min-width: 300px;
  // max-width: 1000px;
  // margin: 50px auto;
}

header {
  background-color: #006ac3;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
}

main {
  padding: 0 36px;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: 18px;
  font-size: 24px;
}

table {
  margin: 0 auto;
}

thead {  
  font-weight: bold;
  color: #006ac3;
  td {
    border-bottom: solid 1px black;
  }
}

td {
  padding: 10px;
}

button {
  border:none;
  border-radius: 50%;
  padding: 10px;
  background: no-repeat left center;
  background-size: cover;
}
.btn-basic {
  background-image:url('../assets/minus-svgrepo-com.svg') ;
} 

.btn-down{
  background-image:url('../assets/arrow-down-svgrepo-com.svg');
} 

.btn-up{
  background-image:url('../assets/arrow-up-svgrepo-com.svg');
}  
.column-header{
  display: flex;
  justify-content: space-between;
}