<header class="flex">
  <h1>Welcome to Andrew's Super Amazing Music Taste!</h1>
</header>



<main>
  <table>
    <thead>

      <td *ngFor="let column of columns">
        <div class="column-header" (click)="newDirection(column)"
          [ngClass]="column.direction== 'none' ? 'not_active' : 'active'">
          {{column.name}}
          <img [src]="'../assets/arrow-'+column.direction+'-svgrepo-com.svg'" class="icon"/>
        </div>

      </td>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs$|async">
        <td>{{ song.trackName }}</td>
        <td>{{ song.artistName }}</td>
        <td>{{ song.endTime | date:'short' }}</td>
      </tr>
    </tbody>


  </table>
</main>

<footer>
  <small>
    icons by <a target="_blank" href="https://www.svgrepo.com/">svgrepo</a>
  </small>
</footer>